---
permalink: "/404.html"
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/_analytics.html" %}
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/css/style.css"/>
        {% include "partials/_icons.html" %}
        <title>Page Not Found &mdash; Sutta Basket</title>
        <style>
            #posts {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Sutta Basket</h1>
        </header>
        {% include "partials/_search-bar.html" %}
        <main>
            <section class="side-bg"></section>
            <div id="posts">
                <h2>It looks like you've lost your way.</h2>
                <p>
                    This page doesn't exist. <a href="/">Click here to go home.</a>
                </p>
            </div>
            <section class="side-bg"></section>
        </main>
        {% include "partials/_footer.html" %}
    </body>
</html>