---
permalink: "/404.html"
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/css/style.css"/>
        {% include "partials/_icons.html" %}
        <title>Page Not Found &mdash; Sutta Basket</title>
        <style>
            #posts {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        </style>
    </head>
    {% include "partials/_analytics.html" %}
    <body>
        <header>
            <h1>Sutta Basket</h1>
            <div id="search-bar-container">
                <a href="/">home</a>
                |
                <a href="/archive">archive</a>
                |
                <a href="/tags">tags</a>
                |
                {% include "partials/_search-bar.html" %}
                {% include
                "partials/_social.html" %}
            </div>
        </header>
        <main>
            <section class="side-bg loaded"></section>
            <div id="posts">
                <h2>It looks like you've lost your way.</h2>
                <p>
                    This page doesn't exist. <a href="/">Click here to go home.</a>
                </p>
            </div>
            <section class="side-bg loaded2"></section>
        </main>
        {% include "partials/_footer.html" %}
    </body>
</html>