<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/_analytics.html" %}
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/css/style.css"/>
        {% include "partials/_icons.html" %}
        <title>Sutta Basket</title>
        <meta name="type" property="og:type" content="website"/>
        <meta name="title" property="og:title" content="Sutta Basket"/>
        <meta name="url" property="og:url" content="https://suttabasket.com"/>
        <meta
            name="description"
            property="og:description"
            content="Sutta Basket &mdash; unpacking Buddhist wisdom"/>
        <meta name="image" property="og:image" content="https://suttabasket.com/assets/site-image.jpg"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:site" content="@suttabasket"/>
        <meta name="twitter:title" content="Sutta Basket"/>
        <meta name="twitter:description" content="Sutta Basket &mdash; unpacking Buddhist wisdom"/>
        <meta name="twitter:image" content="https://suttabasket.com/assets/site-image.jpg"/>
    </head>
    <body>
        <header>
            <h1>Sutta Basket</h1>
            <h2>unpacking Buddhist wisdom</h2>
        </header>
        {% include "partials/_search-bar.html" %}
        <main>
            <section class="side-bg"></section>
            <div id="posts">
                {% for entry in collections.posts %}
                    <div>
                        <h2>
                            <a href="/posts/{{ entry.id }}.html">
                                {{ entry.post.title | safe }}
                            </a>
                        </h2>
                        {% if entry.post.subtitle %}
                            <h3 class="subtitle">{{ entry.post.subtitle | safe }}</h3>
                        {% endif %}
                        <small class="date">
                            {{ entry.post.date_string }}
                        </small>
                        <p class="featured-sutta">
                            <strong>
                                <small>
                                    Featured sutta: {{ entry.post.sutta_summary }}
                                </small>
                            </strong>
                        </p>
                        {{ entry.post.image_html | safe }}
                        {{ entry.post.content_preview | safe }}
                        <p>
                            <a href="/posts/{{ entry.id }}.html">
                                read alongside sutta
                            </a>
                        </p>
                        {% if entry.post.tags.length > 0 %}
                            <p class="post-preview-tags">
                                tags:
                                {% for tag in entry.post.tags %}
                                    <a href="/tags/index.html?tag={{ tag }}">
                                        {{ tag }}</a>{{"," if not loop.last}}
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                    {% if not loop.last %}
                        <hr/>
                    {% endif %}
                {% endfor %}
            </div>
            <section class="side-bg"></section>
        </main>
        {% include "partials/_footer.html" %}
    </body>
</html>