---
pagination:
    data: collections.posts
    size: 1
    alias: entry
permalink: "posts/{{ entry.id | slugify }}.html"
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/post.css"/>
        <link rel="stylesheet" href="/css/comments.css"/>
        <title>{{ entry.post.title }} &mdash; Sutta Basket</title>
    </head>
    <body>
        <header>
            <div id="search-bar-container">
                <a href="/">home</a>
                |
                <a href="/archive">archive</a>
                |
                <a href="/tags">tags</a>
                |
                {% include "partials/_search-bar.html" %}
                {% include
                "partials/_social.html" %}
            </div>
        </header>
        <section id="toggle-buttons">
            <button id="expand-sutta">expand sutta</button>
            <button id="expand-post">expand post</button>
            <button id="show-both" disabled>show both</button>
        </section>
        <main>
            <section class="side-bg loaded"></section>
            <section id="sutta-container">
                <div id="notes-container">
                    {% if entry.sutta.display.annotations.length %}
                        <div id="notes">
                        notes:&nbsp;
                        <div id="annotations">
                                {%- for note in entry.sutta.display.annotations %}
                                    <button>{{ loop.index }}</button>
                                {% endfor -%}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div id="sutta-info-and-lines">
                    <div id="sutta-info">
                        <details id="sutta-chapter-info">
                            <summary>
                                {{ entry.sutta.section_pali }}:
                                {{ entry.sutta.section_title }}
                            </summary>
                            <p>{{ entry.sutta.section_description | safe }}</p>
                            {% if entry.sutta.chapter_title and
                            entry.sutta.chapter_description %}
                                <p>
                                    <u>{{ entry.sutta.chapter_title }}</u>:
                                </p>
                                <p>{{ entry.sutta.chapter_description | safe }}</p>
                            {% endif %}
                        </details>
                        {% if entry.sutta.sutta_title %}
                            <h2 id="sutta-title">{{ entry.sutta.sutta_title }}</h2> —
                        {% endif %}
                        <small id="sutta-pali-name">
                            {{ entry.sutta.section_pali }}
                            {% if entry.sutta.chapter_number %}
                                {{ entry.sutta.chapter_number }}
                            {% endif %}
                        </small>
                        {% if entry.sutta.sutta_description %}
                            <details>
                                <summary>Summary</summary>
                                <p>{{ entry.sutta.sutta_description | safe }}</p>
                            </details>
                        {% endif %}
                    </div>
                    <div id="lines">
                        {{ entry.sutta.display.highlighted | safe }}
                    </div>
                </div>
            </section>
            <section id="post">
                <h1>{{ entry.post.title | safe }}</h1>
                {%if entry.post.subtitle %}
                    <h2 class="subtitle">{{ entry.post.subtitle | safe }}</h2>
                {% endif %}
                <small class="date">
                    {{ entry.post.date_string }}
                </small>
                <p>
                    tags: {% for tag in entry.post.tags %}
                        <a href="/tags/index.html?tag={{ tag }}">
                            {{tag}}</a>{{ "," if not loop.last }}
                    {% endfor %}
                </p>
                <hr/>
                {{ entry.post.image_html | safe }}
                {{ entry.post.content | safe }}
                <hr/>
                <div id="comments" data-post-id="{{ entry.id }}"></div>
            </section>
            <section class="side-bg"></section>
        </main>
        {% include "partials/_footer.html" %}

        <script>
            const noteButtons = document
                .querySelector("#annotations")
                .querySelectorAll("button");
            noteButtons.forEach(handleShowNote);

            function handleShowNote(button, i) {
                const linesElem = document.querySelector("#lines"),
                    allHighlights = linesElem.querySelectorAll(".highlighted"),
                    noteElem = linesElem.querySelector(`#a-${i}`),
                    removeExpand = (elem) => elem
                        .classList
                        .remove("expand");
                button.onclick = () => {
                    allHighlights.forEach(removeExpand);
                    noteElem
                        .classList
                        .add("expand");
                    noteElem.scrollIntoView({behavior: "smooth"});
                };
            }
        </script>

        <script src="/scripts/toggle.js"></script>
        <script src="/bundle.js"></script>
    </body>
</html>