<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <title>Search &mdash; Sutta Basket</title>
    </head>
    <body>
        <header>
            <h1>Sutta Basket</h1>
            <h2>Search: <span id="search-term"></span></h2>
            <div id="search-bar-container">
                <a href="/">home</a>
                |
                <a href="/archive">archive</a>
                |
                <a href="/tags">tags</a>
                |
                {% include "partials/_search-bar.html" %}
                {% include
                "partials/_social.html" %}
            </div>
        </header>
        <main>
            <section class="side-bg loaded"></section>
            <section id="search-results"></section>
            <section class="side-bg loaded2"></section>
        </main>
        {% include "partials/_footer.html" %}

        <script src="/bundle.js" defer></script>
    </body>
</html>