body {
    header {
        background-color: #874c07;

        &,
        h1,
        h2 {
            color: #ffe7a8 !important;
        }

        a {
            color: #ffb500;
        }

        button {
            background-color: #ffb500;
            color: #874c07;

            &:hover {
                background-color: #ffe7a8;
            }
        }
    }
}
