#notes-container {
    display: flex;
}

.highlighted {
    &:hover {
        cursor: pointer;

        small {
            display: inline;
        }
    }

    &.expand {
        small {
            display: inline;
        }
    }

    small {
        display: none;
    }
}
