@import "https://api.fontshare.com/v2/css?f[]=quicksand@500&f[]=britney@400&display=swap";

:root {
    --shadow: 0 2px 2px rgba(135, 76, 7, 0.3);
    --accent-1: #ffe7a8;
    --accent-2: #ffdc88;
    --accent-3: #d68c2c;
    --accent-4: #874c07;
    --accent-5: #fffacb;
    --link-color: #da622b;
    --main-bg-color: #ffd05e;
    --main-text-color: #222;
    --highlight-color: #ffb500;
    --selected-note-highlight: yellow;
    --note-color: rgb(157, 0, 0);
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    margin: 0;

    & *,
    button,
    input,
    textarea {
        font-family: "Quicksand", Arial, Helvetica, sans-serif;
        font-size: 1rem;
    }

    a {
        color: var(--link-color);

        &:hover {
            color: var(--accent-4);
        }
    }

    button {
        width: fit-content;
        appearance: none;
        background-color: var(--accent-4);
        border: 0;
        border-radius: 4px;
        color: var(--accent-5);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        font-weight: 400;
        margin: 0;
        opacity: 1;
        padding: 2px 6px;
        white-space: nowrap;

        &:disabled {
            opacity: 0.5;

            &:hover {
                cursor: initial;
            }
        }

        &:hover {
            cursor: pointer;
            background-color: var(--highlight-color);
        }
    }

    button,
    input {
        height: 1.2rem;
        box-sizing: border-box;
    }

    button,
    input,
    textarea {
        font-size: 0.9rem;
    }

    .date {
        color: var(--accent-3);
        font-style: italic;
        margin-top: 0;
    }

    details {
        summary {
            &:hover {
                cursor: pointer;
            }
        }
    }

    footer {
        background-color: var(--main-bg-color);
        color: var(--accent-4);

        &,
        a {
            font-size: 0.8rem;
            font-weight: 100;
        }

        a {
            font-style: italic;

            &.admin-link {
                color: var(--accent-4);
                text-decoration: none;
            }
        }
    }

    footer,
    header {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        padding: 5px 30px;
    }

    main > * {
        padding: 30px 30px 0;
    }

    h1,
    h2,
    h3 {
        color: var(--accent-4);
        text-shadow: var(--shadow);
    }

    h1 {
        &,
        * {
            font-family: "Britney", Arial, Helvetica, sans-serif;
            font-size: 2.5rem;
            line-height: 2.5rem;
            margin: 0;
        }
    }

    h2 {
        &,
        * {
            font-size: 1.5rem;
        }
    }

    h3 {
        &,
        * {
            font-size: 1.15rem;
        }
    }

    header {
        background-color: var(--main-bg-color);
        color: var(--highlight-color);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5px;

        a {
            font-size: 0.9rem;
            font-weight: bold;
        }

        h2 {
            margin: 0 0 4px;
        }

        #search-bar-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 5px;

            form {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                input {
                    max-width: 200px;
                    width: 25vw;
                }
            }

            #social {
                gap: 5px;

                &,
                a {
                    display: flex;
                    align-items: center;
                }

                a {
                    opacity: 0.8;
                    text-decoration: none;

                    &:hover {
                        opacity: 1;
                    }

                    img {
                        height: 20px;
                        width: auto;
                    }
                }

                img {
                    filter: contrast(0) brightness(0) invert(1)
                        drop-shadow(var(--shadow));
                }
            }
        }
    }

    hr {
        border: 0;
        height: 1.75px;
        background-color: var(--accent-4);
        box-shadow: var(--shadow);
    }

    input,
    textarea {
        appearance: none;
        background-color: var(--accent-5);
        border: 0;
    }

    main {
        width: 100%;
        display: flex;
        flex: 1;
        justify-content: center;
        margin: auto;
        overflow: auto;

        & > * {
            height: 100%;
            box-sizing: border-box;
        }

        #all-tags {
            padding-bottom: 10px;
        }

        section#sutta-container {
            max-width: 500px;
            width: 40%;
            background-color: var(--accent-2);
            display: flex;
            flex-direction: column;
            gap: 7px;

            #notes-container,
            #sutta-info {
                background-color: var(--accent-1);
                color: var(--accent-4);
            }

            #notes-container {
                align-items: center;
                justify-content: center;
                flex-direction: column;

                & > * {
                    width: 100%;
                    box-sizing: border-box;
                }

                #notes {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;

                    #annotations {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        gap: 5px;
                        padding: 5px 0;

                        button:not(#show-all) {
                            width: 1.2rem;
                        }
                    }
                }
            }

            #sutta-info-and-lines {
                flex: 1;
                overflow: auto;
                padding-bottom: 20px;

                #sutta-info {
                    margin-bottom: 7.5px;

                    details {
                        &:last-child {
                            padding-top: 1rem;
                        }

                        &#sutta-chapter-info {
                            padding-bottom: 1rem;

                            p:last-child {
                                border-bottom: 1px solid var(--accent-3);
                                margin-bottom: 0;
                                padding-bottom: 1rem;
                            }
                        }

                        summary {
                            &:hover {
                                color: var(--highlight-color);
                            }
                        }
                    }

                    #sutta-pali-name,
                    #sutta-title {
                        display: inline;
                    }

                    #sutta-pali-name {
                        font-style: italic;
                    }

                    #sutta-title {
                        line-height: 1.5rem;
                    }
                }

                #lines {
                    .highlighted {
                        background-color: var(--highlight-color);

                        &:hover {
                            cursor: pointer;
                        }

                        &.expand {
                            background-color: var(--selected-note-highlight);
                        }

                        small {
                            color: var(--note-color);
                            font-style: italic;
                        }
                    }
                }
            }
        }

        section#post {
            max-width: 700px;
            width: 60%;
            background-color: var(--accent-1);
            overflow: auto;
        }

        .side-bg {
            background-position: center;
            background-size: cover;
            flex: 1;
            padding: 0;
            position: relative;

            &:before {
                background-color: var(--highlight-color);
                content: "";
                opacity: 0.5;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }

            &.loaded {
                background-image: url("../assets/backyard-bg.png");
            }

            &.loaded2 {
                background-image: url("../assets/basket-shot.jpg");
            }
        }

        #posts {
            .date {
                margin: 0;
            }
        }
    }

    #archive-container,
    #posts,
    #search-results,
    #tags-container {
        max-width: 800px;
        width: 100%;
        background-color: var(--accent-1);
        margin: auto;
        overflow: auto;
    }

    small {
        font-size: 0.8rem !important;
    }

    .subtitle {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 525px) {
    body *,
    button,
    input,
    textarea {
        font-size: 0.9rem;
    }

    h1 {
        &,
        a,
        span {
            font-size: 2rem !important;
            line-height: 2rem !important;
        }
    }

    h2 {
        &,
        a,
        span {
            font-size: 1.25rem !important;
        }
    }

    h3 {
        &,
        a,
        span {
            font-size: 1.05rem !important;
        }
    }

    /* comments: */
    #comments small.date {
        font-size: 0.7rem !important;
    }
}

@media only screen and (max-width: 768px) {
    body {
        footer,
        header {
            padding: 5px 15px;
        }

        main > * {
            padding: 15px 15px 0;
        }
    }
}
