html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;

    & *,
    button,
    input,
    textarea {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
    }

    a {
        color: yellowgreen;

        &:hover {
            color: lightblue;
        }

        &.admin-link {
            color: white;
            text-decoration: none;
        }
    }

    button {
        height: 1.2rem;
        width: fit-content;
        appearance: none;
        background-color: #dfdfdf;
        border: 0;
        border-radius: 4px;
        color: #222;
        font-size: 0.8rem;
        font-weight: 400;
        margin: 0;
        opacity: 1;
        padding: 2px 6px;
        white-space: nowrap;

        &:disabled {
            opacity: 0.5;

            &:hover {
                background-color: #dfdfdf;
                cursor: initial;
            }
        }

        &:hover {
            cursor: pointer;
            background-color: #ccc;
        }
    }

    .date {
        color: #777;
        font-style: italic;
        margin-top: 0;
    }

    details {
        summary {
            &:hover {
                cursor: pointer;
            }
        }
    }

    footer {
        &,
        a {
            font-size: 0.8rem;
            font-weight: 100;
        }

        a {
            font-style: italic;
        }
    }

    h1 {
        &,
        * {
            font-size: 2rem;
            margin: 0;
        }
    }

    h2 {
        &,
        * {
            font-size: 1.5rem;
        }
    }

    h3 {
        &,
        * {
            font-size: 1.15rem;
        }
    }

    header,
    footer {
        width: 100%;
        background-color: #222;
        box-sizing: border-box;
        color: #fff;
        text-align: center;
        padding: 5px;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5px;

        a,
        input {
            font-size: 0.8rem;
        }

        a {
            font-weight: bold;
        }

        h2 {
            margin: 0;
        }

        #search-bar-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 5px;

            form {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
            }

            #social {
                gap: 5px;

                &,
                a {
                    display: flex;
                    align-items: center;
                }

                a {
                    opacity: 0.8;
                    text-decoration: none;

                    &:hover {
                        opacity: 1;
                    }

                    img {
                        height: 20px;
                        width: auto;
                    }
                }
            }
        }
    }

    main {
        width: 100%;
        display: flex;
        flex: 1;
        justify-content: center;
        margin: auto;
        overflow: auto;

        & > * {
            height: 100%;
            box-sizing: border-box;
            padding: 30px 30px 0;
        }

        #all-tags {
            padding-bottom: 10px;
        }

        section#sutta-container {
            max-width: 500px;
            width: 40%;
            background-color: #f3f3f3;
            display: flex;
            flex-direction: column;
            gap: 7px;

            #notes-container {
                background-color: #ccc;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                & > * {
                    width: 100%;
                    box-sizing: border-box;
                }

                #notes {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;

                    #annotations {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        gap: 5px;
                        padding: 5px 0;
                    }
                }

                #delete-note-container {
                    display: flex;
                    flex-wrap: wrap;

                    & > * {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex: 1;
                    }

                    #delete-annotation {
                        background-color: #aaa;
                        padding: 5px 0;
                    }
                }
            }

            #sutta-info-and-lines {
                flex: 1;
                overflow: auto;
                padding-bottom: 20px;

                #sutta-info {
                    background-color: #ddd;
                    margin-bottom: 7.5px;

                    details {
                        &:last-child {
                            padding-top: 1rem;
                        }

                        &#sutta-chapter-info {
                            padding-bottom: 1rem;

                            p:last-child {
                                border-bottom: 1px solid #aaa;
                                margin-bottom: 0;
                                padding-bottom: 1rem;
                            }
                        }
                    }

                    #sutta-pali-name,
                    #sutta-title {
                        display: inline;
                    }

                    #sutta-pali-name {
                        color: #777;
                        font-style: italic;
                    }

                    #sutta-title {
                        color: #777;
                        line-height: 1.5rem;
                    }
                }

                #lines {
                    .highlighted {
                        background-color: yellow;

                        &:hover {
                            cursor: pointer;
                        }

                        &.expand {
                            background-color: greenyellow;
                        }

                        small {
                            color: red;
                            font-style: italic;
                        }
                    }
                }
            }
        }

        section#post {
            max-width: 700px;
            width: 60%;
            background-color: #eee;
            overflow: auto;
        }

        #posts {
            .date {
                margin: 0;
            }
        }
    }

    #posts,
    #search-results,
    #tag-results {
        max-width: 800px;
        margin: auto;
    }

    small {
        font-size: 0.8rem !important;
    }

    .subtitle {
        color: #777;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 440px) {
    body *,
    button,
    input,
    textarea {
        font-size: 0.9rem !important;
    }

    h1 {
        &,
        a,
        span {
            font-size: 1.5rem !important;
        }
    }

    h2 {
        &,
        a,
        span {
            font-size: 1.25rem !important;
        }
    }

    h3 {
        &,
        a,
        span {
            font-size: 1.05rem !important;
        }
    }

    /* comments: */
    #comments small.date {
        font-size: 0.7rem !important;
    }
}

@media only screen and (max-width: 768px) {
    body {
        main > * {
            padding: 15px 15px 0;
        }
    }
}
