body {
    height: 100vh;
    margin: 0;

    &.full-page {
        height: 100vh;
        display: flex;
        flex-direction: column;

        main {
            flex: 1;
            overflow: auto;
            padding: 15px;
        }
    }

    & *,
    button,
    input,
    textarea {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
    }

    a {
        color: yellowgreen;

        &:hover {
            color: lightblue;
        }

        &.admin-link {
            color: white;
            text-decoration: none;
        }
    }

    h1 {
        &,
        * {
            font-size: 2rem;
            margin: 0;
        }
    }

    h2 {
        &,
        * {
            font-size: 1.25rem;
        }
    }

    button {
        white-space: nowrap;
    }

    small {
        font-size: 0.8rem;
    }

    header,
    footer {
        width: 100%;
        background-color: #222;
        box-sizing: border-box;
        color: #fff;
        text-align: center;
        padding: 5px;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5px;

        h2 {
            margin: 0;
        }

        #search-bar-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 5px;
        }
    }

    main {
        #posts,
        #search-results,
        #tag-results {
            max-width: 800px;
            margin: auto;
        }
    }

    .date {
        color: #555;
        font-style: italic;
    }

    .highlighted {
        background-color: yellow;

        small {
            color: red;
            font-style: italic;
        }
    }
}

@media only screen and (max-width: 440px) {
    body *,
    button,
    input,
    textarea {
        font-size: 0.8rem !important;
    }
}
