html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}
body *,
body button,
body input,
body textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
body a {
  color: yellowgreen;
}
body a:hover {
  color: lightblue;
}
body a.admin-link {
  color: white;
  text-decoration: none;
}
body button {
  height: 1.2rem;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #dfdfdf;
  border: 0;
  border-radius: 4px;
  color: #222;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0;
  opacity: 1;
  padding: 2px 6px;
  white-space: nowrap;
}
body button:disabled {
  opacity: 0.5;
}
body button:disabled:hover {
  background-color: #dfdfdf;
  cursor: initial;
}
body button:hover {
  cursor: pointer;
  background-color: #ccc;
}
body .date {
  color: #777;
  font-style: italic;
  margin-top: 0;
}
body details summary:hover {
  cursor: pointer;
}
body footer,
body footer a {
  font-size: 0.8rem;
  font-weight: 100;
}
body footer a {
  font-style: italic;
}
body h1,
body h1 * {
  font-size: 2rem;
  margin: 0;
}
body h2,
body h2 * {
  font-size: 1.5rem;
}
body h3,
body h3 * {
  font-size: 1.15rem;
}
body header,
body footer {
  width: 100%;
  background-color: #222;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  padding: 5px;
}
body header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}
body header a,
body header input {
  font-size: 0.8rem;
}
body header a {
  font-weight: bold;
}
body header h2 {
  margin: 0;
}
body header #search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
body header #search-bar-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body header #search-bar-container #social {
  gap: 5px;
}
body header #search-bar-container #social,
body header #search-bar-container #social a {
  display: flex;
  align-items: center;
}
body header #search-bar-container #social a {
  opacity: 0.8;
  text-decoration: none;
}
body header #search-bar-container #social a:hover {
  opacity: 1;
}
body header #search-bar-container #social a img {
  height: 20px;
  width: auto;
}
body main {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: auto;
  overflow: auto;
}
body main > * {
  height: 100%;
  box-sizing: border-box;
  padding: 30px 30px 0;
}
body main #all-tags {
  padding-bottom: 10px;
}
body main section#sutta-container {
  max-width: 500px;
  width: 40%;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
body main section#sutta-container #notes-container {
  background-color: #ccc;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body main section#sutta-container #notes-container > * {
  width: 100%;
  box-sizing: border-box;
}
body main section#sutta-container #notes-container #notes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body main section#sutta-container #notes-container #notes #annotations {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px 0;
}
body main section#sutta-container #notes-container #delete-note-container {
  display: flex;
  flex-wrap: wrap;
}
body main section#sutta-container #notes-container #delete-note-container > * {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
body main section#sutta-container #notes-container #delete-note-container #delete-annotation {
  background-color: #aaa;
  padding: 5px 0;
}
body main section#sutta-container #sutta-info-and-lines {
  flex: 1;
  overflow: auto;
  padding-bottom: 20px;
}
body main section#sutta-container #sutta-info-and-lines #sutta-info {
  background-color: #ddd;
  margin-bottom: 7.5px;
}
body main section#sutta-container #sutta-info-and-lines #sutta-info details#sutta-chapter-info p:last-child {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0;
  padding-bottom: 1rem;
}
body main section#sutta-container #sutta-info-and-lines #sutta-info details#sutta-chapter-info,
body main section#sutta-container #sutta-info-and-lines #sutta-info #sutta-pali-name {
  padding-bottom: 1rem;
}
body main section#sutta-container #sutta-info-and-lines #sutta-info #sutta-title {
  color: #444;
  display: inline;
  line-height: 1.5rem;
}
body main section#sutta-container #sutta-info-and-lines #sutta-info #sutta-pali-name {
  color: #444;
  display: inline-block;
  font-style: italic;
}
body main section#sutta-container #sutta-info-and-lines #lines .highlighted {
  background-color: yellow;
}
body main section#sutta-container #sutta-info-and-lines #lines .highlighted:hover {
  cursor: pointer;
}
body main section#sutta-container #sutta-info-and-lines #lines .highlighted.expand {
  background-color: greenyellow;
}
body main section#sutta-container #sutta-info-and-lines #lines .highlighted small {
  color: red;
  font-style: italic;
}
body main section#post {
  max-width: 700px;
  width: 60%;
  background-color: #eee;
  overflow: auto;
}
body main #posts .date {
  margin: 0;
}
body #posts,
body #search-results,
body #tag-results {
  max-width: 800px;
  margin: auto;
}
body small {
  font-size: 0.8rem !important;
}
body .subtitle {
  color: #444;
  margin-bottom: 0;
}

@media only screen and (max-width: 440px) {
  body *,
  button,
  input,
  textarea {
    font-size: 0.9rem !important;
  }
  h1,
  h1 a,
  h1 span {
    font-size: 1.5rem !important;
  }
  h2,
  h2 a,
  h2 span {
    font-size: 1.25rem !important;
  }
  h3,
  h3 a,
  h3 span {
    font-size: 1.05rem !important;
  }
  /* comments: */
  #comments small.date {
    font-size: 0.7rem !important;
  }
}
@media only screen and (max-width: 768px) {
  body main > * {
    padding: 15px 15px 0;
  }
}/*# sourceMappingURL=style.css.map */