<div id="search-bar-container">
    <a href="/">home</a> |
    <a href="/archive">archive</a> |
    <a href="/tags">tags</a> |
    <a href="/posts/dn16-about-sutta-basket.html">about</a> |
    <form action="/search/index.html">
        <input name="search" type="text" placeholder="search"/>
        <button type="submit">search</button>
    </form>
    <div id="social">
        <a href="https://twitter.com/suttabasket" rel="noopener" target="_blank">
            <img src="/assets/twitter.png" alt="twitter icon"/>
        </a>
        <a href="https://instagram.com/suttabasket" rel="noopener" target="_blank">
            <img src="/assets/instagram.png" alt="instagram icon"/>
        </a>
        <a href="https://tiktok.com/@suttabasket" rel="noopener" target="_blank">
            <img src="/assets/tiktok.png" alt="tiktok icon"/>
        </a>
    </div>
</div>